/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
/* Colors */
$primary-color: #E22030;
$secondary-color: #00AEAC;
$secondary-color-shade: #009997;
$tertiary-color: #1B1C30;
$dark-color: #0D1126;
$white-color: #ffffff;

/* Font Familiy */
$heading-font: 'Poppins', sans-serif;;
$body-font: 'Poppins', sans-serif;

/* Font Weights */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

/* Border */
$br: .3125rem;
$br-full: 50%;