body {
    background-color: $dark-color;
    color: $white-color;
    font-family: $body-font;
    font-weight: $fw-light;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: $heading-font;
    margin: 0;
}

p {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

main,
section {
    position: relative;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: .625em;
}
::-webkit-scrollbar-track {
    background-color: hsl(var(--primary-color-shade) / .9);
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
}

/* Buttons */
.btn-game {
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    padding-inline: 1.875rem;
    transition: all 300ms ease-in-out;
    &:hover,
    &:focus {
        background-color: $secondary-color;
        border-color: $secondary-color;
        box-shadow: none;
        color: $white-color;
    }
    &__accent {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white-color;
        &:hover,
        &:focus {
            background-color: $primary-color-shade;
            border-color: $primary-color-shade;
            box-shadow: none;
        }
    }
}

/* Modal */
.modal-content.modal-opinion,
.modal-content.modal-delete {
    background-color: rgba($dark-color, .7);
    backdrop-filter: blur(5px);
    border: 0;
    padding: 1.875rem;
    .modal-opinion-header {
        padding-block: 1.25rem;
    }
}
.header-title {
    border-bottom: 1px solid $secondary-color;
    h5 {
        display: flex;
        flex-direction: column;
        gap: .3125rem;
        margin-bottom: .9375rem;
        span {
            font-weight: $fw-bold;
        }
    }
}
.close {
    background-color: transparent;
    border: none;
    line-height: 1;
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    svg {
        fill: $white-color;
        transition: fill 300ms ease-in-out;
        width: 1.5625rem;
        &:hover,
        &:focus {
            fill: $secondary-color;
        }
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.form-group label {
    margin-bottom: .625rem;
}
.form-group input,
.form-group textarea {
    background-color: transparent !important;
    border-color: $secondary-color !important;
    color: $white-color !important;
    padding-block: .625rem;
    &:focus {
        box-shadow: none !important;
        outline: none;
    }
}
.buttons-wrapper {
    display: flex;
    gap: 1.25rem;
}
.modal-delete .modal-body {
    padding: 0;
}
.modal-delete .buttons-wrapper {
    gap: 1rem;
}

/* Pages */
.opiniones,
.opiniones-admin,
.edita-opinion {
    padding-top: 6.25rem;
}